//Variables
$dark-color: #272a2c;
$text-color: #4b4c4d;

.banner {
  height: 400px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #e8e8e8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/fondo-bannner-portafolio.jpg");
  background-attachment: fixed;
  overflow: hidden;
  align-items: center;
  opacity: 0.95;

  @media (max-width: 768px) {
    height: 200px;
  }

  h1 {
    font-size: 4.2rem;
    font-weight: 400;
    margin: 10px 0;
  }

  hr {
    background-color: #e8e8e8;
    margin: 20px 0;
  }

  p {
    font-size: 1.7rem;
  }
}

nav.menu {
  min-height: 50px;
  font-size: 1.6rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  box-shadow: 0 1px 8px black;
  padding: 0;

  div.container {
    max-width: 95%;

    a img {
      max-width: 40px;

      &:hover {
        opacity: 0.8;
      }
    }

    li {
      margin-right: 14px;

      a {
        color: #fafafa;
        padding: 8px 10px;
        border-radius: 2px;

        &:hover {
          transition: all 0.7s;
          background: #c52f3e;
        }

        &:active {
          background: #7c212a;
        }
      }
    }
  }
}
